{% extends 'index.html' %}

{% load static %}

{% block content %}
{% if  everyTask %}
<div class="container">
  <div class="row centered">
<br><br><br>

    <table class="table table-striped table-dark"width="90%">
      <thead>
        <tr>
          <th scope="col">{{ everyTask.task_name }}</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" height="200"><p> {{ everyTask.task_text }} </p></th>

        </tr>

      </tbody>
    </table>
 </div>
 </div>



<br> <br><br >
<div class="container">

<form class="" action="{% url 'addCode' everyTask.id %}" method="post">
    {% csrf_token %}
    <textarea name="code_text" rows="8" cols="80" placeholder="Input your code here "></textarea>
    <input type="hidden" name="username" value="{{user.username}}">
    <br><input type="submit" name="" value="Submit">
  </form>
  {{user}}

</div>
{% endif %}
{% endblock  %}