<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
     <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  id="bootstrap-css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
   </head>
  <body>

{% comment %} header {% endcomment %}
{% block header %}
{% endblock  %}
    
<br><br><br><br>

{% comment %} background {% endcomment %}
{% block background %}
{% endblock  %}

{% comment %} word {% endcomment %}
<div class="container w">
  <div class="row centred">
    {% block word %}
    {% endblock  %}
    <br><br>
  </div>
</div>


{% comment %} NEWS {% endcomment %}
<div id= "dg">
  <div class="container">
    <div class="row justify-content-md-center">
        <br>
      {% block news %}
      {% endblock  %}
    </div>
  </div>
</div>

{% comment %} Popular Tasks {% endcomment %}
  <div id="lg"> 
    {% block pop %}
    {% endblock %}
    <br><br>
  </div>

{% comment %} Statistics {% endcomment %}
  <div id="r">
    {% block statistic %}
    {% endblock  %}
  </div>

  {% comment %} SocialNetworks {% endcomment %}
  <div id="f">
    {% block socialNetwork %}
    {% endblock  %}
  </div>




  </body>
</html>
