<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
     <link rel="stylesheet" href="css/main.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  id="bootstrap-css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
   </head>
  <body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="ind.html">
  <img src="static/logo.png" alt="" width="50" height="50">
    PYTH<i class="fa fa-circle"></i>N Contester
  </a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse justify-content-end " id="navbarTogglerDemo02">
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
<ul class="navbar-nav mt-2 mt-lg-0">
  <li class="nav-item">
    <a class="nav-link" href={% url 'userpage' %}>About Me</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href={% url 'rating' %}>Rating</a>
  </li>

  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user" aria-hidden="true"></i>   User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href={% url 'signIn' %}>Sign In</a>
          <a class="dropdown-item" href={% url 'signUp' %}>Registr</a>
        </div>
      </li>

</ul>

</div>
</nav>

<br><br>
<br>
<br>
<br>

{% block showEveryTask %}
{% endblock %}    



{% comment %} background {% endcomment %}
{% block background %}
{% endblock  %}

{% comment %} word {% endcomment %}
<div class="container w">
  <div class="row justify-content-md-center">

    {% block word %}
    {% endblock  %}
    
    <br><br>
  </div>
</div>


{% comment %} NEWS {% endcomment %}
{% block news %}
{% endblock  %}



{% comment %} Popular Tasks {% endcomment %}
  <div id="lg"> 
    {% block pop %}
    {% endblock %}
    <br><br>
  </div>

{% comment %} Statistics {% endcomment %}
  <div id="r">
    {% block statistic %}
    {% endblock  %}
  </div>

  {% comment %} SocialNetworks {% endcomment %}
  <div id="f">
    {% block socialNetwork %}
    {% endblock  %}
  </div>




  </body>
</html>
