<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
     <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  id="bootstrap-css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
   </head>
  <body>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href=""">
      <img src="static/logo.png" alt="" width="70" height="70">
      PYTH<i class="fa fa-circle"></i>N Contester
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

      <div class="topnav">
          <input type="text" placeholder="Search..">
      </div>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user" aria-hidden="true"></i>   User
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="signIn.html">Sign In</a>
              <a class="dropdown-item" href="registr.html">Registr</a>
            </div>
          </div>
          </li>
        </ul>
      </div>
      </nav>


<br><br><br><br><br>

{% block showEveryTask %}
{% endblock %}    



{% comment %} background {% endcomment %}
{% block background %}
{% endblock  %}

{% comment %} word {% endcomment %}
<div class="container w">
  <div class="row centred">
    {% block word %}
    {% endblock  %}
    <br><br>
  </div>
</div>


{% comment %} NEWS {% endcomment %}
<div id= "dg">
  <div class="container">
    <div class="row justify-content-md-center">
        <br>
      {% block news %}
      {% endblock  %}
    </div>
  </div>
</div>

{% comment %} Popular Tasks {% endcomment %}
  <div id="lg"> 
    {% block pop %}
    {% endblock %}
    <br><br>
  </div>

{% comment %} Statistics {% endcomment %}
  <div id="r">
    {% block statistic %}
    {% endblock  %}
  </div>

  {% comment %} SocialNetworks {% endcomment %}
  <div id="f">
    {% block socialNetwork %}
    {% endblock  %}
  </div>




  </body>
</html>
