
{% extends 'myFirstApp/index.html' %}

{% block body_block %}


{% comment %} background {% endcomment %}
<div id="headerwrap" xmlns="http://www.w3.org/1999/html">
    <div class="container">
      <div class="row justify-content-md-center">
      <div class="col-lg-8 col-lg-offset-2">
          <h1>Python Contester </h1>
          <h2>Contester with me </h2>
        </div>
      </div>
      </div>
    </div>

{% comment %} word {% endcomment %}
<div class="container w">
  <div class="row centred">


    
<div class="col-lg-4">

      <i class="fa fa-trophy"></i>

      <h4>About Project Euler</h4>
      <p>Project Euler is a series of challenging mathematical/computer
           programming problems that will require more than just mathematical
           insights to solve. Although mathematics will help you arrive at
           elegant and efficient methods, the use of a computer and programming
            skills will be required to solve most problems.
      </p>
</div>


<div class="col-lg-4">
      <i class="fa fa-trophy"></i>

      <h4>About Project Euler</h4>
      <p>Project Euler is a series of challenging mathematical/computer
           programming problems that will require more than just mathematical
           insights to solve. Although mathematics will help you arrive at
           elegant and efficient methods, the use of a computer and programming
            skills will be required to solve most problems.
      </p>
</div>

<div class="col-lg-4">
      <i class="fa fa-trophy"></i>
      <h4>About Project Euler</h4>
      <p>Project Euler is a series of challenging mathematical/computer
           programming problems that will require more than just mathematical
           insights to solve. Although mathematics will help you arrive at
           elegant and efficient methods, the use of a computer and programming
            skills will be required to solve most problems.
      </p>
</div>

    <br><br>
  </div>
</div>


{% comment %} NEWS {% endcomment %}
<br><br>
<div id= "dg">
      <center><h4>News</h4></center>
      <br>
    <div class="container">
      <p><a name="popular"></a>
    <div class="row justify-content-md-center">

        <br>
        <div class="col-lg-4">
          <div class="tilt">
            <a href="#"><img src = "static/news.png" width="300" height="400" alt =""></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="tilt">
            <a href="#"><img src = "static/news.png" width="300" height="400"alt =""></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="tilt">
            <a href="#"><img src = "static/news.png"width="300" height="400" alt =""></a>
          </div>
        </div>
      </div>
    </p>
    </div>
  </div>



{% comment %} Popular Tasks {% endcomment %}
<div id="lg"> 
<br><br>
   <center> <h4>{{ title }}</h4></center>
    <br>
    
    <div class="container">
        <div class="row justify-content-md-center">

        <br><br>

    {% for i in task %}
        <div class="tilt2">
            <div class="col-lg-10 col-lg-offset-4">
                <a href={%url 'currentTask' i.id%}><img src="{{ i.task_img.url }}" width="180" height="180" alt=""> </a>
                <p>{{ i.task_name }} </p>
            </div>
        </div> 
    {% endfor %}

       
        </div>
    </div>
    <br><br><br>
   <center> <a href={% url 'moreProblems' %} >  <button type="button" class="btn btn-dark center">More problems </button></a></center>
    <br><br>
  </div>

{% comment %} Statistics {% endcomment %}

      <div id ="r">

    <div class="container">
      <div class="row justify-content-md-center">

        <div class="col-lg-8 col-lg-offset-2">
          <h4>Statistics</h4>
            <p> <font size="7" face="Wide latin"> {{ dic.countTask }}</font>
            <font size="5" face="Wide latin">Tasks</font></p>
            <p> <font size="7" face="Wide latin">{{dic.countSolved}}</font>
            <font size="5" face="Wide latin">Times solved</font></p>
            <p><font size="5" face="Wide latin"> by </font> <font size="7" face="Wide latin">{{ dic.countUser}} </font><font size="5" face="Wide latin">Users</font> </p>
          </div>
    </div>
      </div>

    </div>



{% endblock  %}