{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
     <link rel="stylesheet" href="css/main.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  id="bootstrap-css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
   </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <a class="navbar-brand" href="ind.html">
       <img src="img/logo.svg" alt="" width="50" height="50">
         PYTH<i class="fa fa-circle"></i>N Contester
       </a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
     </button>

     <div class="collapse navbar-collapse justify-content-end " id="navbarTogglerDemo02">
       <form class="form-inline my-2 my-lg-0">
         <input class="form-control mr-sm-2" type="search" placeholder="Search">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
       </form>
     <ul class="navbar-nav mt-2 mt-lg-0">

       <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <i class="fa fa-user" aria-hidden="true"></i>   User
             </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
               <a class="dropdown-item" href="signIn.html">Sign In</a>
               <a class="dropdown-item" href="registr.html">Registr</a>
             </div>
           </li>

     </ul>

     </div>
     </nav>
     <div class="container">
   <div class="row">

<div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img src="user.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Aneketa</h5>

          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><font size="4" color="black" face="Arial">Diana</font>  </li>
            <li class="list-group-item"><font size="4" color="black" face="Arial">Khalidullayeva</font>  </li>
            <li class="list-group-item"><font size="4" color="black" face="Arial">kh.diana@gmail.com</font>  </li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card" style="width: 40rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> Count of solved tasks : <h7>10</h7></li>
    <li class="list-group-item"> <p><a href="#top">My solved tasks</a></p></li>
    <li class="list-group-item"><a href="task.html"> Tasks </a></li>
    <li class="list-group-item"><a href="rayting.html"> My Rating</a></li>
  </ul>
</div>
</div>

        </div>
     </div>
     <br><br>
<div class="container">
  <p><a name="top"></a>
    List of my tasks
    <br>
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Kind of task</th>
      <th scope="col">Description</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Task 2 </td>
      <td> Module divide 3 and 2</td>
      <td>852</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Task 3 </td>
      <td>5 divides of natural numbers</td>
      <td>89</td>
    </tr>

  </tbody>
</table>
  </p>
</div>


     <!-- <div class="row"> -->
  <!-- <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div> -->
    <br><br><br><br><br>
    <div id="f">
      <div class="container">
          <div class="row justify-content-md-center">
          <div class="col-md-12 py-5">
            <div class="mb-5 flex-center">
                <div class="row justify-content-md-center">

              <!-- Facebook -->
              <a class="fb-ic" href="#">
                <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <!-- Twitter -->
              <a class="tw-ic"href="#">
                <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <!-- Google +-->
              <a class="gplus-ic"href="#">
                <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <!--Linkedin -->
              <a class="li-ic"href="#">
                <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <!--Instagram-->
              <a class="ins-ic"href="#">
                <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <!--Pinterest-->
              <a class="pin-ic"href="#">
                <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
              </a>
            </div>
          </div>
        </div>      <!-- <i class="fa fa-address-book" aria-hidden="true"></i> -->

          </div>

        </div>

      </div>
</body>
      </html>
