
{% extends 'myFirstApp/index.html' %}



{% block body_block %}

     <div class="container">
   <div class="row">

<div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img src="user.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Aneketa</h5>

          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><font size="4" color="black" face="Arial">Diana</font>  </li>
            <li class="list-group-item"><font size="4" color="black" face="Arial">Khalidullayeva</font>  </li>
            <li class="list-group-item"><font size="4" color="black" face="Arial">kh.diana@gmail.com</font>  </li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card" style="width: 40rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> Count of solved tasks : <h7>10</h7></li>
    <li class="list-group-item"> <p><a href="#top">My solved tasks</a></p></li>
    <li class="list-group-item"><a href="task.html"> Tasks </a></li>
    <li class="list-group-item"><a href="rayting.html"> My Rating</a></li>
  </ul>
</div>
</div>

        </div>
     </div>
     <br><br>
<div class="container">
  <p><a name="top"></a>
    List of my tasks
    <br>
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Kind of task</th>
      <th scope="col">Description</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Task 2 </td>
      <td> Module divide 3 and 2</td>
      <td>852</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Task 3 </td>
      <td>5 divides of natural numbers</td>
      <td>89</td>
    </tr>

  </tbody>
</table>
  </p>
</div>

{% endblock %}